.page {
  font-family: var(--font-lato);
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  background: rgb(222, 174, 238);
  background: radial-gradient(circle, rgba(222, 174, 238, 1) 0%, rgba(148, 185, 233, 1) 100%);
}

.atropos {
  width: 200px;
  height: 300px;
  background-color: #48cafe;
}

.atroposContainer {
  padding: 1rem;
}
